// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#table{
    width: 80%;
}
#every{
    font-family: cursive;
    font-size: 20px;
    font: bold;
    color:#5EDFFF;
}
#search{
    margin-left:300px;
}
#bseach{
    background-color:#ECFCFF;
    color: #B2FCFF;
}