// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.login-form{
    text-align: center;
    background-color: aqua;
    height: 20rem;
    width: 45%;
    font: bold;
    color:#3E64FF;
    font-family: cursive;
    font-size: 25px;
}
.Login-form{
    text-align: center;
    background-color: aqua;
    font-family: cursive;
    font-size: 25px;
    font: bold;
    color:#3E64FF;
    height: 25rem;
    width: 45%;
}
